<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Chirper</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav>
        <h3 id="chirperLogo"><a href="/login">Chirper</a></h3>
    <div class="navlink"><a href="/login">Login</a></div>
    <div class="navlink"><a href="/signup">Sign up</a></div>
  </nav>
  <section id="signup">
  </section>
  <div id="chirperMsg"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3><img id="domo" src="assets/img/domo.png" alt="domo"/>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>